body {
    background-color: rgb(86, 0, 88);
    margin-top: 300px;
}


h1 {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.container {
    max-width: 700px;
    height: 250px;
    background-color: steelblue;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    
}


.form-label {
    font-weight: 700;
    color: rgb(0, 0, 0);
}


.btn-primary {
    background-color:  rgb(86, 0, 88);
    font-weight: 700;
    border-color: aquamarine;
}

